<h1>About the Social Science Library</h1>
<ul id="about-anchors">
	<li><h4><a href="#goals">Mission of the SSL</a></h4></li>
	<li><h4><a href="#contributors">Contributors to the SSL</a></h4></li>
	<li><h4><a href="#how-to">How to use the SSL</a></h4></li>
</ul>
<div id="goals">
	<h2>Goals and Beliefs:</h2>
	<p>Most of the body of knowledge that currently constitutes social science literature has been written by people in the global North. A quick survey of social science journals shows that over 90% are published in nations of the global North. We at the Global Development And Environment Institute, along with many of our colleagues elsewhere, are disturbed and alarmed by this situation. Hence a primary goal of the SSL is give people in the global South some of the tools needed to contribute proportionately to the social sciences, and to speak with a full measure of authority in the ongoing dialog about sustainable development and human well-being. The specific goals of the Social Science Library are:</p>
	<ul>
		<li><p>To further the development of the social sciences in the world’s less-wealthy nations;</p></li>
		<li><p>To strengthen the ability of social scientists in these countries to influence their own local policies;</p></li>
		<li><p>To ensure that global debates on the future of the human species will increasingly include all voices; and</p></li>
		<li><p>To give global attention and emphasis to those social science writings that are most likely to contribute to understanding and promotion of sustainability and human well-being.</p></li>
	</ul>
	<p>Sustainable development requires that the policies and activities of governments and the non-profit sector, as well as commerce and industry, be oriented to the promotion of human flourishing in healthy social and natural environments, in the short and the long run. These goals are not always the “economic development” goals pursued by foreign advisors, or by local governments. To counterbalance the ideologies or the self-interest of powerful groups it is necessary for citizens to understand the interactions among social forces, and the ways that these are affected by – and affect – the natural world.</p>
	<p>Local self-sufficiency in producing and understanding social science is critical to giving people the ability to effectively evaluate programs, opportunities, policies and promises presented by powerful actors who are often remote from those who will be affected by their decisions. The cumulative knowledge and understanding available through the social sciences – from anthropology to political science, from economics to philosophy – provides hope for humankind’s ability to deal effectively with the individual and collective challenges and choices we face in the 21st century.</p>
	<p>The benefits from social science knowledge and understanding cannot be realized where there is little or no access to the existing literature. Even when access is available, it may be difficult to evaluate and select materials from the Internet and other sources of widely varying quality. The characteristics of selectivity, interdisciplinary breadth, and organization make the Social Science Library uniquely qualified to assist potential users.</p>
	<ul>
		<li><p>The SSL articles and bibliographical references will enable teachers to create a wide variety of syllabi and course materials in many areas of social science.</p></li>
		<li><p>The SSL will provide examples and materials for researchers and writers as they go on to write up their own observations and analyses. The whole world will benefit from the resultant broadening of perspectives in the social sciences.</p></li>
		<li><p><em>Students</em> will be able to pursue their interests, and discover new interests, as they browse the SSL on their own, or follow lines of inquiry laid out by their instructors.</p></li>
		<li><p><em>Policy-makers</em> and <em>citizens</em> whose education has included exposure to the best social science writings—especially those that are oriented toward human well-being and sustainable development—will be better able to understand their own circumstances; to assess policies suggested by foreign advisors; and to envision the most appropriate policies and choices.</p></li>
	</ul>
	<p><a href="#about-anchors">Back to Top</a></p>
</div>
<div id="contributors">
	<h2>Contributors:</h2>
	<ul>
		<li>Editorial and Production Staff</li>
		<li>Editorial Advisors</li>
		<li>SSL Advisory Board</li>
	  <li>Tufts Student Contributors</li>
	  <li>Publishing Partners</li>
	  <li>Technical Credits</li>
	</ul>
	<br>
	<h3>SSL Editorial and Production Staff:</h3>
	<p>The Social Science Library is a project of the Global Development And Environment Institute (GDAE) at Tufts University, in conjunction with the UN Decade for Education in Sustainable Development. The following are the individuals who are responsible for the creation of the SSL.</p>
	<p><bold>Project Director and Editor-in-Chief:</bold> Neva Goodwin, Co-Director, Global Development And Environment Institute, Tufts University</p>
	<p><bold>Assistant Project Directors:</bold> Jonathan Harris, Director of the Theory and Education Program at GDAE, and Brian Roach, Senior Researcher at GDAE</p>
	<p>All of the following members of the SSL Editorial and Production Staff were employed by GDAE for the tasks indicated, unless otherwise noted:</p>
	<p><bold>Research Directors</bold></p>
	<ul>
		<li>Anthropology: Rajani Kanth, with Garry Sotnik</li>
		<li>Economics: Rajani Kanth, Neva Goodwin and Brian Roach</li>
		<li>History: Barbara Driscoll and Kenneth Weisbrode, with Neva Goodwin, Raymond Grew (Professor of History Emeritus, University of Michigan) and Akira Iriye (Professor of History Emeritus, Harvard University)</li>
		<li>Philosophy: David Kiron and Neva Goodwin</li>
		<li>Political Science: Rajani Kanth, with Garry Sotnik</li>
		<li>Sociology: Rajani Kanth, with Brian Roach</li>
		<li>Social Psychology: Pamela Velez-Vega and Tim Kasser (Professor of Psychology,Knox College) with Neva Goodwin</li>
	</ul>
	<p><bold>Project Coordinators</bold></p>
	<ul>
		<li>Mary Knoble (2003-2005)</li>
		<li>Suzanne Bremer (2005-2009)</li>
	</ul>
	<p><bold>Technical Directors:</bold></p>
	<ul>
		<li>Bradley Wangia (2003-2005)</li>
	  <li>Lisa Weil (2005-2006)</li>
		<li>Sajedul Hoq (2007-2009)</li>
	  <li>Kamal Shah (July 2009-January 2010)</li>
	</ul>
	<p><bold>Assistant Project Coordinators</bold></p>
	<ul>
		<li>Anna Bromberg (2006-2007)</li>
		<li>Quincy Chang (2007-2008)</li>
	  <li>Ishita Islam (2008-2009)</li>
	</ul>
	<p><a href="#about-anchors">Back to Top</a></p>
	<br>
	<h3>Editorial Advisors:</h3>
	<p><bold>Anthropology</bold></p>
	<ul>
		<li><bold>Lowry Hemphill</bold>, Associate Professor and Chair, Department of Language and Literacy, Wheelock College, Boston (USA): Language and Society</li>
		<li><bold>Olivia Ruiz</bold>, Professor of Anthropology, El Colegio de la Frontera Norte in Tijuana, Baja California (Mexico): Cultural Anthropology and Applied Anthropology</li>
	  <li><bold>Javier Urcid</bold>, Associate Professor and Chair, Latin American & Latino Studies Program, Department of Anthropology, Brandeis University (USA): Anthropology Methods and Approaches, and Physical Anthropology</li>
	</ul>
	<p><bold>Economics</bold></p>
	<ul>
		<li><bold>Nahid Aslanbgui</bold>, Professor of Finance and Economics, Monmouth University (USA): Economics as a Social Science</li>
		<li><bold>Nancy Birdsall</bold>, Director, Center for Global Development (USA): Growth, Allocation and Distribution</li>
		<li><bold>Ha-Joon Chang</bold>, Assistant Director of Development Studies, University of Cambridge (UK): Economic Policy</li>
		<li><bold>Bruno Frey</bold>, Professor, Institute for Empirical Research in Economics, University of Zurich (Switzerland): Well-being</li>
		<li><bold>Neva Goodwin</bold>, Co-Director, Global Development and Environment Institute, Tufts University (USA): Development</li>
		<li><bold>Andrew McGrew</bold>, Professor of Politics and International Relations, Southampton University (UK): Globalization</li>
	</ul>
	<p><bold>History</bold></p>
	<ul>
		<li>Economic History: <bold>Brian Roach</bold>, Senior Researcher, Global Development And Environment Institute, Tufts University (USA)</li>
	  <li>Environmental History: <bold>Charles Chester</bold>, Adjunct Associate Professor of International Environmental Policy, The Fletcher School of Law and Diplomacy, Tufts University (USA)</li>
	  <li>Political History: <bold>Matthew Connelly</bold>,Professor of History, Columbia University (USA); <bold>Barbara Kellerman</bold>, Lecturer in Public Leadership at Harvard University's John F. Kennedy School of Government (USA); <bold>Martin A. Klimke</bold> Research Fellow at the German Historical Institute in Washington, D.C. and the Heidelberg Center for American Studies at the Univeristy of Heidelberg, Germany and <bold>William Roger Louis</bold>, Professor of History, University of Texas at Austen (USA)</li>
	  <li>Social and Cultural History: <bold>Donald Yerxa</bold>, Professor and Chair, Department of History, Eastern Nazarene College (USA)</li>
	  <li>World/Global History: <bold>Raymond Grew</bold>, Professor of History Emeritus, University of Michigan; <bold>Patrick Manning</bold>, Professor of World History, University of Pittsburgh (USA); <bold>Bruce Mazlish</bold>, Professor of History Emeritus, Massachusetts Institute of Technology (USA); and <bold>Thomas Zeiler</bold>, Professor and Chair, Department of History, University of Colorado at Boulder (USA)</li>
	</ul>
	<p><bold>Political Science</bold></p>
	<ul>
		<li><bold>Ronald Chilcote</bold>, Professor of Economics, University of California (USA): Comparative Politics and Political Theory</li>
		<li><bold>César Pérez-Espinosa</bold>, Investigador Definitivo, Centro de Investigaciones sobre América del Norte, Universidad Nacional Autónoma de México (Mexico): International Relations</li>
		<li><bold>Judith Squires</bold>, Professor of Politics, University of Bristol (UK): Public Administration and Public Policy</li>
	</ul>
	<p><bold>Sociology</bold></p>
	<ul>
		<li><bold>Fred Block</bold>, Professor of Sociology, University of California, Davis (USA): Urban Sociology</li>
		<li><bold>Maxine Molyneux</bold>, Professor of Sociology, The Institute for the Study of the Americas (UK): Culture and Society</li>
		<li><bold>Judith Squires</bold>, Professor of Politics, University of Bristol (UK): Family and Kinship</li>
		<li><bold>Goran Therborn</bold>, Professor of Sociology, Goteborg University (Sweden): Political Sociology</li>
		<li><bold>Fenggang Yang</bold>, Assistant Professor, Department of Sociology and Anthropology, Purdue University (USA): Sociology of Religion</li>
	</ul>
	<p><bold>Social Psychology</bold></p>
	<ul>
		<li><bold>Samuel R. Sommers</bold>, Assistant Professor of Psychology, Tufts University (USA):Group Dynamics</li>
	</ul>
	<p><a href="#about-anchors">Back to Top</a></p>
	<br>
	<h3>Tufts University Student Contributors:</h3>
	<p><bold>Note:</bold> the students listed all made extremely valuable contributions to the collection and organization of the SSL; it could not possibly have been created without them. They are listed with the degrees they have earned; while working at GDAE some were undergraduates, and some graduate students, their ages generally ranging between 18 and 24.</p>
	<ul>
		<li><bold>Lorenzo Arroyo</bold>, Tufts University, Bachelor of Arts in Philosophy and Sociology, 2009</li>
		<li><bold>Arrash J Baghaie</bold> (A.J.), Tufts University, Bachelor of Arts, 2008</li>
		<li><bold>Lucy K. Bassett</bold>, joint degree Fletcher School of Law and Diplomacy, MALD and Friedman School of Nutrition Science and Policy, MS in Food Policy and Applied Nutrition, 2007</li>
		<li><bold>Lauren Ann Baumann</bold>, Master of Arts in Urban and Environmental Policy and Planning, 2006</li>
		<li><bold>Rishikesh Bhandary</bold>, Tufts University, Bachelor of Arts in Economics, 2009</li>
		<li><bold>Sudeep Bhatia</bold>, Tufts University, Bachelor of Arts in Economics, 2009</li>
		<li><bold>Benjamin Thomas J. Black</bold>, The Fletcher School of Law and Diplomacy, MALD Program, 2004</li>
		<li><bold>Megan V. Brachtl</bold>, The Fletcher School of Law and Diplomacy, MALD Program, 2005</li>
		<li><bold>Curtis Campbell</bold>, Bachelor of Arts in Political Science, 2009</li>
		<li><bold>Joe Cavallo</bold>, Tufts University, Bachelor of Bioengineering, 2008</li>
		<li><bold>Yee-Huan Cheng</bold>, Tufts University, Bachelor of Science Engineering, 2003</li>
		<li><bold>Sylvia T. Ciesluk</bold>, The Fletcher School of Law and Diplomacy, MALD Program, 2007</li>
		<li><bold>Neeraj Doshi</bold>, The Fletcher School of Law and Diplomacy, MALD Program, 2006</li>
		<li><bold>John O. Douglas</bold>, The Fletcher School of Law and Diplomacy, MALD Program, 2007</li>
		<li><bold>Dina M. Dubson</bold>, Tufts University, Bachelor of Arts in Political Science and Environmental Studies, 2004</li>
		<li><bold>Jeremy Elprin</bold>, Tufts University, Bachelor of Arts in English and Spanish, 2007</li>
		<li><bold>Ana Martha Fernandes</bold>, Master of Science in Water Resources Engineering, 2005</li>
		<li><bold>Prescott Gadd</bold>, Tufts University, Bachelor of Arts in English and Film, 2007</li>
		<li><bold>Christina Gonzalez</bold>, Tufts University, Bachelor of Arts in Anthropology, 2007</li>
		<li><bold>Crystal Gonzalez</bold>, Tufts University, Bachelor of Arts in Anthropology, 2007</li>
		<li><bold>Alison C. Hannah</bold>, The Fletcher School of Law and Diplomacy, MALD Program, 2006</li>
		<li><bold>Junaid Hashim</bold>, Tufts University, Bachelor of Arts in International Relations, 2008</li>
		<li><bold>Faris Islam</bold>, Tufts University, Bachelor of Arts in Political Science, (intended) 2011</li>
		<li><bold>Lauren C. Johnson</bold>, The Fletcher School of Law and Diplomacy, MALD Program, 2005</li>
		<li><bold>Jessica A. Katz</bold>, Tufts University, Bachelor of Arts in Economics, 2005</li>
		<li><bold>Rezwan Khan</bold>, Tufts University, Bachelor of Arts, 2008</li>
		<li><bold>Courtney D. Lane</bold>, Tufts University, Master of Arts in Urban and Environmental Policy and Planning, 2005</li>
		<li><bold>Christine Koh</bold>, Tufts University, Bachelor of Arts, 2008</li>
		<li><bold>John W. Larsen</bold>, Master of Arts in Urban and Environmental Policy and Planning, 2005</li>
		<li><bold>Vivek Mathur</bold>, The Fletcher School of Law and Diplomacy, MALD Program, 2006</li>
		<li><bold>Maria Munaretto</bold>, The Fletcher School of Law and Diplomacy, MALD Program, 2010</li>
		<li><bold>Sylvia Mendoza</bold>, The Fletcher School of Law and Diplomacy, MALD Program, 2007</li>
		<li><bold>Tawanda Muzhingi</bold>, The Fletcher School of Law and Diplomacy, MALD Program, 2007</li>
		<li><bold>Ha P Nguyen</bold>, The Fletcher School of Law and Diplomacy, MALD Program, 2007</li>
		<li><bold>Daniel Negless</bold>, Tufts University, Bachelor of Arts in Economics, 2009</li>
	 	<li><bold>Akua Brakatu Ofori-Adjei</bold>, The Fletcher School of Law and Diplomacy, MALD Program, 2006</li>
		<li><bold>Alex Pileggi</bold>, Tufts University, Bachelor of Arts in Economics, 2007</li>
		<li><bold>Tatiana Popa</bold>, The Fletcher School of Law and Diplomacy, MALD Program, 2009</li>
		<li><bold>Francisco Resnicoff</bold>, The Fletcher School of Law and Diplomacy, MALD Program, 2006</li>
		<li><bold>Patrick Roath</bold>, Tufts University, Bachelor of Arts in International Relations, 2009</li>
		<li><bold>Laura Jeane Story Schlapkohl</bold>, The Fletcher School of Law and Diplomacy, MALD Program, 2006</li>
		<li><bold>Allison Schuster</bold>, Tufts University, Bachelor of Arts in Political Science, 2009</li>
		<li><bold>Stephanie Sguigna</bold>, Tufts University, Bachelor of Science, Engineering, 2009</li>
		<li><bold>Hilary Sienrukos</bold>, The Fletcher School of Law and Diplomacy, MALD Program, 2006</li>
		<li><bold>Sarah L. Smith</bold>, Master of Arts in Urban and Environmental Policy and Planning, 2005</li>
		<li><bold>Bistra Solakova</bold>, Tufts University, Bachelor of Arts, 2008</li>
		<li><bold>Yen Trinh</bold>, The Fletcher School of Law and Diplomacy, MALD Program, 2007</li>
		<li><bold>Adwoa Twum</bold>, Tufts University, Bachelor of Arts, 2007</li>
		<li><bold>Maryna Vaschenko</bold>, Tufts University, PhD in Education, 2008</li>
		<li><bold>Casey Vaughn</bold>, Tufts University, Bachelor of Arts in Political Science and Philosophy, 2007</li>
		<li><bold>Vasanthi Venkatesh</bold>, The Fletcher School of Law and Diplomacy, MALD Program, 2005</li>
		<li><bold>Cara Vileno</bold>, The Fletcher School of Law and Diplomacy, MALD Program, 2006</li>
		<li><bold>Danielle Warner</bold>, Tufts University, Bachelor of Arts in Political Science, 2007</li>
		<li><bold>Charles Wartemberg</bold>, Tufts University, Bachelor of Arts in International Relations, 2008</li>
	</ul>
	<p><a href="#about-anchors">Back to Top</a></p>
	<br>
	<h3>SSL Advisory Board:</h3>
	<ul>
		<li><bold>Craig Calhoun</bold> (Sociology, History, International Studies; USA) President, Social Science Research Council, New York; Professor of Sociology and History, New York University</li>
		<li><bold>Kemal Dervis</bold> (Economics; Turkey) Administrator of the United Nations Development Programme and Chair of the United Nations Development Group</li>
		<li><bold>Khadija Haq</bold> (Economic and Social Development; Pakistan); President of the Mahbub ul Haq Human Development Institute, Pakistan; Chairperson of the North-South Roundtable; senior adviser on education at UNICEF</li>
		<li><bold>Andrzej Kassenberg</bold> (Geography, Sustainable Development; Poland) Member of the Environmental Council of the President of the European Bank for Reconstruction and Development; President, Institute for Sustainable Development</li>
		<li><bold>Kumari Jayawardene</bold> (Women's Studies and Political Science; Sri Lanka); Professor of Women's Studies at Colombo University, Sri Lanka</li>
		<li><bold>Wangari Maathai</bold> (Democracy, Human Rights, and Environmental Conservation; Kenya); Assistant Minister for Environment and Natural Resources, and Member of Parliament, Tetu Constituency, Nyeri District, Republic of Kenya; Founder and Former Coordinator, the Green Belt Movement; awarded the Nobel Peace Prize in 2004</li>
		<li><bold>Mary Robinson</bold> (Law, Human Rights; Ireland); Executive Director, The Ethical Globalization Initiative; former President of Ireland (1990-1997), United Nations High Commissioner for Human Rights (1997-2002)</li>
		<li><bold>Amartya K. Sen</bold> (Economics and Philosophy; India, USA); Lamont University Professor Emeritus of Economics and of Philosophy, Harvard University; formerly President of the Indian Economic Association, the American Economic Association, and the International Economic Association; awarded the Bharat Ratna and the Nobel Memorial Prize in Economics</li>
		<li><bold>Ismael Serageldin</bold> (Development, Social and Environmental Sustainability; Egypt); Director, Bibliotheca Alexandrina, Egypt; Distinguished University Professor at the Wageningen University in the Netherlands; Former Chair of the Consultative Group on International Agricultural Research (CGIAR); Former Vice President, Environmentally Sustainable Development, World Bank</li>
		<li><bold>Joseph Stiglitz</bold> (Economics; USA); Professor of Economics and Finance, Columbia University, New York; awarded the Nobel Memorial Prize in Economics</li>
		<li><bold>Paul P. Streeten</bold> (Economics, Development; Austria, UK, USA); Emeritus Professor of Economics, Boston University; Founder and Chairman of the Board of World Development; Consultant to the United Nations Development Program and to UNESCO; former Director of the Institute of Development Studies at Sussex University, UK</li>
	</ul>
	<p><a href="#about-anchors">Back to Top</a></p>
	<br>
	<h3>Publishing Partners:</h3>
	<p>We acknowledge with special appreciation the publishers who have generously permitted reproduction in the Special Collections section of large amounts of material to which they hold copyright. They are, for the Evolving Values series, the University of Michigan Press; for the Frontier Issues series, the Island Press in Washington D.C.; for the selections from books by John Kenneth Galbraith, Houghton Mifflin Publishers, in Boston, Massachusetts; and for the New Global History Series the New Global History Initiative, at <a href="www.newglobalhistory.com">www.newglobalhistory.com.</a></p>
	<p>The creators of the SSL are grateful to all owners of copyrighted material who have given permission to reproduce their material in this project. The list below covers publishers or others who hold the copyright for 15 or more articles or book chapters that appear in the SSL collection. Many of these have provided abbreviated descriptions of their activities which can be accessed by clicking on the name of our publishing partner. At the end of each such description there is usually an Internet address through which you can find out more about the organization.</p>
	<!--<p>
	    American Economic Association
	    American Sociological Association
	    Annual Reviews, Inc.
	    Association for the Sociology of Religion
	    Brill Academic Publishers
	    Cambridge University Press
	    Center for Migration Studies
	    Columbia University School of International and Public Affairs
	    Council on Foreign Relations, Inc.
	    Earthscan
	    Edward Elgar Publishing
	    Elsevier Science Inc.
	    Emerald Group Publishing Limited
	    Fernand Braudel Center, SUNY Binghamton
	    Institute of Race Relations
	    International Labour Organization
	    Island Press
	    John Wiley and Sons
	    Monthly Review Press
	    Organization for Economic Cooperation and Development
	    Sage Publications
	    Social Science Research Council
	    Southern Economic Association
	    University of Chicago Press
	    University of Hawaii Press
	    University of Michigan Press
  </p>-->
	<p><a href="#about-anchors">Back to Top</a></p>
</div>
<div id="how-to">

</div>