<div class="home-center">
  <h2>Welcome to the Social Science Library:</h2>
  <h3>Frontier Thinking in Sustainable Development and Human Well-Being</h3>

  <h4 style="font-style: italic">A project of</h4>

  <p><a href="https://ase.tufts.edu/gdae/">The Global Development And Environment Institute (GDAE)</a></p>
  <p>at Tufts University in conjunction with</p>
  <p>the UN Decade for Education for Sustainable Development.</p>
</div>
<br>
<div class="home-text">
  <p>The Social Science Library (SSL) contains complete bibliographic references for over 9,300 journal articles, book chapters, and working papers covering Anthropology, Economics, History, Political Science, Social Psychology, Sociology, and Philosophy. The complete text of about 3,200 of these documents are included in the SSL.</p>
  <%= render partial: '/ssl/ssl_search' %><br><br>
</div>
